<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
			
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<meta charset="UTF-8">
		<title>Estoque</title>
	</head>
	<body>
		<h1>Cadastro de Produtos</h1>
		<h3><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Produtos</a></h3>
		
		<form class="container" method="post">
			<div class="row">
				<div class="input-field col s12">
					Descrição <input type="text" value="" id="descricao" name="descricao"/>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s2">
					Quantidade <input type="number" value="" id="quantidade" name="quantidade"/>
				</div>
				<div class="input-field col s5">
					Valor de Custo <input type="text" value="" id="custo" name="custo" placeholder="R$ 0,00"/>
				</div>
				<div class="input-field col s5">
					Valor de Venda <input type="text" value="" id="venda" name="venda" placeholder="R$ 0,00"/>
				</div>
			</div>
			
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
		</form>
		
		<!--JavaScript at end of body for optimized loading-->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
	
	<script>
		$('#custo').mask("#.##0,00", {reverse: true});
		$('#venda').mask("#.##0,00", {reverse: true});
	</script>
</html>